<div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <a class="btn btn-primary float-right" href="/add" role="button">Add</a>
        <div class="list row">
          <div class="col-md-8">
            <div class="input-group mb-3">
            </div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Имя узла</th>
                <th scope="col">Дата последней статистики</th>
                <th scope="col">Версия Client</th>
                <th scope="col">Тип устройства</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mobileStatisticsItem of mobileStatistics; let i = index"
                (click)="getMobileStatisticsEventsById(mobileStatisticsItem.id)">
                <td>{{ mobileStatisticsItem.title }}</td>
                <td>{{ mobileStatisticsItem.lastStatistics }}</td>
                <td>{{ mobileStatisticsItem.versionClient }}</td>
                <td>{{ mobileStatisticsItem.type }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <div>
        <input type="checkbox" id="scales" name="scales" checked (change)="checkValue($event)">
        <label for="scales">Scales</label>
      </div>
      <div class="col-sm">
        <h2>{{currentMobileStatistics.title}}</h2>
        <p>Id устройства: {{currentMobileStatistics.id}}</p>
        <p>Версия устройства: {{currentMobileStatistics.versionClient}}</p>
        <p>Тип Устройства: {{currentMobileStatistics.type}}</p>
        <div class="list row">
          <div class="col-md-8">
            <div class="input-group mb-3">
            </div>
          </div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Дата.</th>
                <th scope="col">Событие.</th>
                <th scope="col">Описание события.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mobileStatisticsEvent of mobileStatisticsEvents; let i = index"  [routerLink]="['event', mobileStatisticsEvent.id]">
                <td>{{ mobileStatisticsEvent.date }}</td>
                <td>{{ mobileStatisticsEvent.name }}</td>
                <td>{{ mobileStatisticsEvent.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>

</div>