<div>
  <a class="btn btn-primary float-right" href="/add" role="button">Add</a>
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Имя узла</th>
          <th scope="col">Дата последней статистики</th>
          <th scope="col">Версия Client</th>
          <th scope="col">Тип устройства</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mobileStatisticsItem of mobileStatistics; let i = index"  [routerLink]="[mobileStatisticsItem.id]">
            <td>{{ mobileStatisticsItem.title }}</td>
            <td>{{ mobileStatisticsItem.lastStatistics }}</td>
            <td>{{ mobileStatisticsItem.versionClient }}</td>
            <td>{{ mobileStatisticsItem.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
  </div>
</div>