<div *ngIf="viewMode; else editable">
  <div *ngIf="currentMobileStatisticsEvent.id">
    <h4>MobileStatistics</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentMobileStatisticsEvent.name }}
    </div>
    <a class="badge badge-warning" routerLink="/mobileStatistics/{{ currentMobileStatisticsEvent.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentMobileStatisticsEvent">
    <br />
    <p>Please click on a Mobile Statistics...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentMobileStatisticsEvent.id" class="edit-form">
    <h4>MobileStatistics</h4>
    <form>
      <div class="form-group">
        <label for="description">Описание</label>
        <input type="text" class="form-control" id="lastStatistics" [(ngModel)]="currentMobileStatisticsEvent.description"
          name="description" />
      </div>
    </form>


    <button type="submit" class="badge badge-success mb-2" (click)="updateMobileStatisticsEvent()">
      Update
    </button>
    <button type="danger" class="badge badge-danger mb-2" (click)="updateMobileStatisticsEvent()">
      Delete
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentMobileStatisticsEvent.id">
    <br />
    <p>Cannot access this Mobile Statistics...</p>
  </div>
</ng-template>